        *{
            margin:0px;
            padding: 0px;
            box-sizing: border-box;
        }
        body{
            font-family: 'Courier New', Courier, monospace;
            line-height: 1.5em;
            background-color: #425067;   
        }
        .prinWrapper{
            width: 1000px;
            margin: 0 auto;

        }
        header{
            background-color: #EEEEEE;
            overflow: hidden;
            width: 100%;
        }
        header nav ul li{
            list-style: none;
            float: left;
        }
        header nav ul li a{
            text-decoration: none;
            padding: 15px 20px 15px 20px;
            display: inline-block;
            color:#2d3646;
            font-weight: bold;
        }
        header nav ul li a:hover{
            /* text-decoration: none;
            padding: 15px 20px 15px 20px;
            display: inline-block; */
            background-color: #E52F6E;
            color: white;
        }
        main{
            width: 70%;
            float: left;
            background-color: white;
        }
        main img{
            max-width: 100%;
        }
        main section{
            padding: 30px;
        }
        main section p{
            text-align: justify;
        }

        aside{
            width: 30%;
            float: left;
            background-color: #25D6C8;
            padding: 30px;
        }
        aside ul li{
            border-bottom: 1px solid white;
            list-style: none;
            color: black;
            margin: 16px;
            /* #425042 */
        }
        aside ul li a{
            text-decoration: none;
            color: #425042;
        }
        aside ul li a:hover{
            color:#425042;
        }
        aside h4{
            color: white;
            font-size: 20px;
        }
        footer{
            padding: 60px;
            background-color: #E52F6E;
            clear: both;
            width: 70%;
        }
        footer p{
            color: white;
            text-align: center;
        }
        @media screen and (max-width: 800px){
            main{
                width: 100%;
                display: block;
            }
            aside{
                width: 100%;
                display: block;
            }
            footer{
                width: 100%;
                display: block;
            }
        }